$posterSize: 30;
$posterWidth: 18px * $posterSize;
$posterHeight: 24px * $posterSize;

@mixin poster() {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  p {
    margin: 0;
  }
}

@mixin containerWrapper() {
  width: $posterWidth;
  height: $posterHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

@mixin posterNoise($angle: 0deg, $contrast: 270%, $brightness: 1000%) {
  opacity: 95%;
  position: absolute;

  .poster {
    &__shape {
      &__isolate {
        isolation: isolate;
        width: 100%;
        height: 100%;
        position: relative;
      }

      &__noise {
        background: linear-gradient($angle, black, transparent),
          url(../assets/noise.svg);
        filter: contrast($contrast) brightness(500%);
        // background: rgb(random(255), random(255), random(255));
        width: 100%;
        height: 100%;
      }
      &__overlay {
        background: $background;
        mix-blend-mode: multiply;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
